/MicroserviceWebApi/bin/*
/MicroserviceWebApi/obj/*
/MicroserviceWebApi/.vs/*
/WeatherWebApi/bin/*
/WeatherWebApi/obj/*
/WeatherWebApi/.vs/*
/ApiGateway/bin/*
/ApiGateway/obj/*
/ApiGateway/.vs/*
/.vs/*